{% extends "base.html" %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>{% lorem 5 %}</p>
        <div class="text-center">
            {% if user.is_authenticated %}
            {% else %}
            <a class="btn btn-secondary" href="/signin">
                Sign in
            </a>
            <a class="btn btn-dark" href="/signup">
                Sign up
            </a>
            {% endif %}
        </div>
    </section>
</main>
{% endblock content %}